alembic==1.4.2
apyori==1.1.2
attrs==19.3.0
certifi==2020.4.5.1
chardet==3.0.4
cycler==0.10.0
Cython==0.29.19
dataset==1.3.1
feedparser==5.2.1
idna==2.9
joblib==0.14.1
kiwisolver==1.1.0
Mako==1.1.2
MarkupSafe==1.1.1
matplotlib==3.0.3
mlxtend==0.17.2
numpy==1.18.4
pandas==0.24.2
pyfpgrowth==1.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2020.1
reader==0.13
requests==2.23.0
scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.9.1
six==1.14.0
SQLAlchemy==1.3.17
urllib3==1.26.5